/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
/***** Increase specificity *****/
.custom-checkbox input:checked + label {
  background-color: red;
  border-color: red;
}

/*#######Swiper##########*/
.swiper-pagination {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.95rem;
  width: 280px;
  border-radius: 50px;
  height: 25px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(228, 12, 12, 0.6);
  border-radius: 50%;
  transition: background-color 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f10e0e; /* Active bullet color */
}

@media only screen and (max-width: 800px) {
  .swiper-pagination {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* background: gray; */
    width: 60px;
    justify-content: center;
    gap: 1px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: rgba(228, 12, 12, 0.6);
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f10e0e; /* Active bullet color */
  }
}
